@media screen and (max-width: 800px) {
  .alert-wrap {
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 15px;
    min-width: 790px;
  }
}

.alert-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 15px;
}

.alert-box {
  background-color: white;
  width: 600px;
  height: 500px;
  position: relative;
  border-radius: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  white-space: pre-wrap;
}

.delete-cell::after {
  display: initial;
  color: black;
  content: "\00d7";
  font-size: 20pt;
  cursor: pointer;
  width: 30px;
  margin-right: -10px;
  margin-left: 5px;
}

.alert-box h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box .content {
  padding: 10px 40px;
  overflow-y: auto;
}

.cell-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cell-box {
  width: 100%;
  height: 80px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  overflow-y: auto;
}

.cell-title {
  border: 1px solid #e0e0e0;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.select-filed {
  width: 110px;
  height: 25px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1d81ff;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.button-flex {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.alert-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 8px 10px;
  border: 0px;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #1d81ff;
  color: white;
  cursor: pointer;
}
